<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>en</string>
    <key>CFBundleExecutable</key>
    <string>$(EXECUTABLE_NAME)</string>
    <key>CFBundleIdentifier</key>
    <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>$(PRODUCT_NAME)</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0</string>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>LSRequiresIPhoneOS</key>
    <true/>
    <key>UILaunchScreen</key>
    <dict/>
    <key>UIRequiredDeviceCapabilities</key>
    <array>
        <string>armv7</string>
    </array>
    <key>UISupportedInterfaceOrientations</key>
    <array>
        <string>UIInterfaceOrientationPortrait</string>
        <string>UIInterfaceOrientationLandscapeLeft</string>
        <string>UIInterfaceOrientationLandscapeRight</string>
    </array>

    <!-- Tambahan penting untuk akses mikrofon dan speech recognition -->
    <key>NSMicrophoneUsageDescription</key>
    <string>Kami membutuhkan akses mikrofon untuk merekam suara Anda</string>
    <key>NSSpeechRecognitionUsageDescription</key>
    <string>Kami membutuhkan izin untuk mengubah suara menjadi teks</string>
    <key>NSCameraUsageDescription</key>
    <string>Kami memerlukan kamera untuk mengambil foto bukti maintenance</string>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>Kami memerlukan akses galeri untuk upload foto bukti maintenance</string>
    <key>AppIntents</key>
    <string>CreateMaintenanceReportIntent</string>
    
    

</dict>
</plist>
